<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-camisetasFC.png" />

	<title>CamisetasFC</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css"></head>

<body>
	<!-- Header -->
	<header class="main-header">
		<% if (user != null) {%>
			<%- include('./partials/headerLogueado.ejs')%>
		<%} else{%>
			<%- include('./partials/header.ejs')%>
		<%}%>
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<h1>Resultados de búsqueda</h1> <!--Falta que diga como variable lo que se busco-->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
	<% for (let i = 0; i < productos.length; i++) { %>
		<div class="col-12 col-sm-6 col-lg-3">
			<section  class="product-box">
				<a href="/products/product/<%= productos[i].id %>">
				<figure class="product-box_image">
					<img src="<%= productos[i].foto %>"  alt='' height="250px" width="330px">
				</figure>
				<article class="product-box_data">
					<h2><%= productos[i].producto %></h2>
					<p><%= productos[i].descripcionProd %></p>
					<p>Vendido por: <%= productos[i].usuario.username %></p>
				</article>
				</a>
			</section>
		</div>
	  <% } %>
	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer.ejs')%>
	</footer>
	<!-- /footer -->
</body>

</html>